{% extends 'layout.twig' %}
{% block body %}
            <h1>Admin dashboard</h1>
            <ul>
                <li><a href="/blogs/add">Add Blog</a></li>
                <li><a href="/users/add">Add User</a></li>
            </ul>
            <br><br>
            <a href="/logout">Logout</a>
{% endblock %}